function Field.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 0
push constant 0
call Vector.new 2
call SnakeSegment.head 1
call Snake.fromHead 1
pop this 3
push pointer 0
return
function Field.moveSnake 2
push argument 0
pop pointer 0
push this 3
call Snake.getTail 1
pop local 1
push pointer 0
push local 1
call SnakeSegment.getPos 1
push constant 0
call FieldDrawer.drawSquare 3
pop temp 0
push this 3
push argument 1
push constant 0
call Snake.move 3
pop temp 0
push this 3
call Snake.getHead 1
pop local 1
push pointer 0
push local 1
call SnakeSegment.getPos 1
call Field.checkPos 2
pop local 0
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push local 1
call SnakeSegment.getPos 1
push constant 0
not
call FieldDrawer.drawSquare 3
pop temp 0
push constant 0
not
return
function Field.checkPos 2
push argument 0
pop pointer 0
push argument 1
call Vector.getX 1
pop local 0
push argument 1
call Vector.getY 1
pop local 1
push local 0
push constant 0
lt
push local 1
push constant 0
lt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push this 0
push constant 1
sub
gt
push local 1
push this 1
push constant 1
sub
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push pointer 0
push argument 1
call Field.checkPosInSnake 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
not
return
function Field.checkPosInSnake 2
push argument 0
pop pointer 0
push this 3
call Snake.getTail 1
pop local 0
label WHILE_EXP0
push local 0
push local 0
call SnakeSegment.getPrev 1
eq
not
not
if-goto WHILE_END0
push local 0
call SnakeSegment.getPos 1
pop local 1
push local 1
push argument 1
call Vector.eq 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 0
call SnakeSegment.getPrev 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.getWidth 0
push argument 0
pop pointer 0
push this 0
return
function Field.getHeight 0
push argument 0
pop pointer 0
push this 1
return
function Field.getCellSize 0
push argument 0
pop pointer 0
push this 2
return
function Field.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
