function FieldDrawer.init 0
push argument 0
pop static 0
push argument 1
pop static 1
push static 0
push constant 2
call Math.divide 2
pop static 2
push static 1
push constant 2
call Math.divide 2
pop static 3
push constant 0
return
function FieldDrawer.drawGrid 6
push argument 0
call Field.getWidth 1
pop local 2
push argument 0
call Field.getHeight 1
pop local 3
push argument 0
call Field.getCellSize 1
pop local 4
push argument 0
call FieldDrawer.getShift 1
pop local 5
push constant 0
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push local 2
push constant 1
add
lt
not
if-goto WHILE_END0
push local 0
push local 4
call Math.multiply 2
push constant 0
push local 5
add
pop pointer 1
push that 0
add
push constant 1
push local 5
add
pop pointer 1
push that 0
push local 0
push local 4
call Math.multiply 2
push constant 0
push local 5
add
pop pointer 1
push that 0
add
push local 3
push local 4
call Math.multiply 2
push constant 1
push local 5
add
pop pointer 1
push that 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push local 3
push constant 1
add
lt
not
if-goto WHILE_END1
push constant 0
push local 5
add
pop pointer 1
push that 0
push local 1
push local 4
call Math.multiply 2
push constant 1
push local 5
add
pop pointer 1
push that 0
add
push local 2
push local 4
call Math.multiply 2
push constant 0
push local 5
add
pop pointer 1
push that 0
add
push local 1
push local 4
call Math.multiply 2
push constant 1
push local 5
add
pop pointer 1
push that 0
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 5
call Vector.dispose 1
pop temp 0
push constant 0
return
function FieldDrawer.drawSnake 2
push argument 1
call Snake.getTail 1
pop local 0
label WHILE_EXP0
push local 0
call SnakeSegment.getPrev 1
push local 0
eq
not
not
if-goto WHILE_END0
push local 0
call SnakeSegment.getPrev 1
pop local 1
push argument 0
push local 0
call SnakeSegment.getPos 1
push local 1
call SnakeSegment.getPos 1
push constant 2
push constant 0
not
call FieldDrawer.drawRect 5
pop temp 0
push local 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
push local 0
call SnakeSegment.getPos 1
push constant 2
push constant 0
not
call FieldDrawer.drawSquare 4
pop temp 0
push constant 0
return
function FieldDrawer.drawApple 2
push argument 0
call FieldDrawer.getShift 1
pop local 0
push argument 0
call Field.getCellSize 1
pop local 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push argument 1
add
pop pointer 1
push that 0
push local 1
call Math.multiply 2
push local 1
push constant 2
call Math.divide 2
add
push constant 0
push local 0
add
pop pointer 1
push that 0
add
push constant 1
push argument 1
add
pop pointer 1
push that 0
push local 1
call Math.multiply 2
push local 1
push constant 2
call Math.divide 2
add
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push local 1
push constant 3
call Math.divide 2
call Screen.drawCircle 3
pop temp 0
push local 0
call Vector.dispose 1
pop temp 0
push constant 0
return
function FieldDrawer.drawSquare 2
push argument 0
call FieldDrawer.getShift 1
pop local 0
push argument 0
call Field.getCellSize 1
pop local 1
push argument 3
call Screen.setColor 1
pop temp 0
push constant 0
push argument 1
add
pop pointer 1
push that 0
push local 1
call Math.multiply 2
push argument 2
add
push constant 0
push local 0
add
pop pointer 1
push that 0
add
push constant 1
push argument 1
add
pop pointer 1
push that 0
push local 1
call Math.multiply 2
push argument 2
add
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push constant 0
push argument 1
add
pop pointer 1
push that 0
push local 1
call Math.multiply 2
push local 1
add
push argument 2
sub
push constant 0
push local 0
add
pop pointer 1
push that 0
add
push constant 1
push argument 1
add
pop pointer 1
push that 0
push local 1
call Math.multiply 2
push local 1
add
push argument 2
sub
push constant 1
push local 0
add
pop pointer 1
push that 0
add
call Screen.drawRectangle 4
pop temp 0
push local 0
call Vector.dispose 1
pop temp 0
push constant 0
return
function FieldDrawer.drawRect 4
push argument 0
call FieldDrawer.getShift 1
pop local 0
push argument 1
push argument 2
call Vector.min 2
pop local 1
push argument 1
push argument 2
call Vector.max 2
pop local 2
push argument 0
call Field.getCellSize 1
pop local 3
push argument 4
call Screen.setColor 1
pop temp 0
push constant 0
push local 1
add
pop pointer 1
push that 0
push local 3
call Math.multiply 2
push argument 3
add
push constant 0
push local 0
add
pop pointer 1
push that 0
add
push constant 1
push local 1
add
pop pointer 1
push that 0
push local 3
call Math.multiply 2
push argument 3
add
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push constant 0
push local 2
add
pop pointer 1
push that 0
push local 3
call Math.multiply 2
push local 3
add
push argument 3
sub
push constant 0
push local 0
add
pop pointer 1
push that 0
add
push constant 1
push local 2
add
pop pointer 1
push that 0
push local 3
call Math.multiply 2
push local 3
add
push argument 3
sub
push constant 1
push local 0
add
pop pointer 1
push that 0
add
call Screen.drawRectangle 4
pop temp 0
push local 1
call Vector.dispose 1
pop temp 0
push local 2
call Vector.dispose 1
pop temp 0
push local 0
call Vector.dispose 1
pop temp 0
push constant 0
return
function FieldDrawer.getShift 2
push static 2
push argument 0
call Field.getWidth 1
push argument 0
call Field.getCellSize 1
call Math.multiply 2
push constant 2
call Math.divide 2
sub
pop local 0
push static 3
push argument 0
call Field.getHeight 1
push argument 0
call Field.getCellSize 1
call Math.multiply 2
push constant 2
call Math.divide 2
sub
pop local 1
push local 0
push local 1
call Vector.new 2
return
