function Main.main 2
push constant 15
push constant 15
push constant 15
call Field.new 3
pop local 0
push local 0
call Game.new 1
pop local 1
push local 0
call Field.drawGrid 1
pop temp 0
push local 1
call Game.run 1
pop temp 0
push local 1
call Game.dispose 1
pop temp 0
push constant 0
return
